.c-links {
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  left: 0%;
  top: 50%;
}

.btn--corners {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: -18px;
  padding: 10px;
  font-size: 18px;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  border: 1px solid #962d3e;
}

.btn--corners::before,
.btn--corners::after {
  content: "";
  position: absolute;
  background-color: #101214;
  z-index: 0;
  transition: 200ms ease-in;
  transform-origin: center center;
}

.c-links:target .btn--corners::before,
.c-links:target .btn--corners::after {
  background-color: rgba(0, 0, 0, 0.6);
  transition-duration: 900ms;
}

.btn--corners::before {
  width: calc(100% + 1px * 2);
  height: calc(100% + 1px * 2);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--corners::after {
  height: calc(100% + 1px * 2);
  width: calc(100% + 1px * 2);
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.btn--corners:hover {
  background: #A0F0F;
}

.btn--corners:hover::before {
  width: 0;
}

.btn--corners:hover::after {
  height: 0;
}

.btn--corners a {
  position: relative;
  display: inline-block;
  color: #979c9c;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 5px 15px;
  margin: 0 2px;
  z-index: 1;
}

.btn--corners a:hover {
  color: white;
}

.btn--corners p {
  position: relative;
  color: #979c9c;
  text-decoration: none;
  line-height: 1em;
  font-size: 0.9em;
  padding: 5px 15px;
  margin: 0 2px;
  z-index: 1;
}